@model lista_tarefa.Models.Tarefa

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tarefa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fazer" class="control-label"></label>
                <input asp-for="Fazer" class="form-control" />
                <span asp-validation-for="Fazer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fazendo" class="control-label"></label>
                <input asp-for="Fazendo" class="form-control" />
                <span asp-validation-for="Fazendo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feito" class="control-label"></label>
                <input asp-for="Feito" class="form-control" />
                <span asp-validation-for="Feito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">
        <i class="large material-icons">arrow_back</i>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
